<!doctype html>
<html ng-app="lrparser">
<head>		
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
	<script src="static/angular.js"></script>
</head>
<body ng-controller="appController">	
	<div ng-view>
		
		<table>
			<tbody>
				<tr ng-repeat="rec in playlist.records">
					<td>[[record(rec).id]]</td>
					<td>[[record(rec).dt]]</td>
					<td>[[record(rec).song]]</td>
					<td>[[record(rec).artist]]</td>
					<td>[[record(rec).album]]</td>
					<td>[[record(rec).cover_id]]</td>
				</tr>
			</tbody>
		</table>
		
	</div>
</body>
