<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>l-r.com playlist</title>
	<link rel="stylesheet" href="static/playlist.css">
	<script type="application/javascript">
		var page ='{{ request.endpoint }}'
		function init() {
			//document.getElementById(page).disabled = true;
			document.getElementById(page).style.borderStyle = 'inset';
		}
	</script>
</head>

<body onload="init()">

<button id="playlist" onclick="document.location.href='{{url_for('playlist')}}'">
	Playlist
</button>

<button id="like_list" onclick="document.location.href='{{url_for('like_list')}}'">
	Likes
</button>

<button onclick="window.open('{{url_for('like')}}', 'like')">
	<img src="static/like.png" class="like" alt="Like"/> Current
</button>

Last Updated: {{lastupdate}}
<table class="playlist">
	<thead>
		<tr><th></th>
		<th>date</th>
		<th>song</th>
		<th>artist</th>
		<th>album</th>
	</thead>
	<tbody>
		{% for row in records %}
		<tr>
			<td>
				{% if row[6] %}
				<img class="gmicon" src="/thumbnail/{{row[6]}}" alt="Cover" />
				{% endif %}
			</td>
			<td><a target="google_music" href="https://play.google.com/music/listen?u=0#/sr/{{row[1]}}">
				<img class="gmicon" src="static/googlemusic.png" alt="Search Google Music" /></td>
			<td>{{row[2]}}</td>
			<td>{{row[3]}}</td>
			<td>{{row[4]}}</td>
			<td>{{row[5]}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</body>
</html>
